useDynLib(nadiv)
import(Matrix)
export(aiCI, aiFun, constrainFun, DFC, findDFC, genAssign, makeA, makeAA, makeD, makeDomEpi, makeDsim, makeS, numPed, parConstrainFun, plot.proLik, proLik, sm2list, varTrans)

