useDynLib(nadiv)
import(Matrix)
export(aic,
aiCI,
aiFun,
constrainFun,
drfx,
findDFC,
genAssign,
grfx,
makeA,
makeAA,
makeD,
makeDomEpi,
makeDsim,
makeS,
numPed,
parConstrainFun,
plot.proLik,
proLik,
simPedDFC,
simPedHS,
sm2list,
varTrans)
