useDynLib(nadiv, dij, a_ml)
import(Matrix, pedigreemm)
export(makeA, makeD, makeDsim, makeAA, makeDomEpi, sm2list, aiFun, numPed, genAssign, IBD, IBD2, vchoose, chooser, SEfun, DFC, findDFC, proLik, plot.proLik, findBetween, constrainFun, parConstrainFun, wrap_dij, aiCI, varTrans)

